
<div class="message-container mb-4" id="message-<%= message.id %>">
    <div class="avatar-container">
      <% if message.user.avatar.attached? %>
        <%= cl_image_tag message.user.avatar.key, class: "avatar dropdown-toggle" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/syrashid", class: "avatar dropdown-toggle" %>
      <% end %>
    </div>
    <div class="message-content">
      <span class="message-content__text"><%= message.content %></span>
    </div>
</div>

