<header>
  <div class="overlay">
<h1>CareTime</h1>
<h3>Healthy Home Plants</h3>
<p>At work, place plants, especially those with broad leaves, on your desk; they will help
  regulate humidity and increase levels of positivity — seeing greenery and nature help us feel
  more relaxed and calm, which in turn benefits your every day mood. Indoor plants serve a practical
  and aesthetic purpose, and will enhance your life.</p>
  <br>
  <button>READ MORE</button>
    </div>
</header>


  <%= link_to "Options", new_ticket_path, class: "btn btn-success" %>

