<div>
  <h1>CareTime</h1>
  <%= link_to "Options", new_ticket_path, class: "btn btn-success" %>
  <p>Houseplants are good for your health — and not just for their visual beauty. 
  Why? They essentially do the opposite of what we do when we breathe: release oxygen and absorb carbon dioxide. 
  This not only freshens up the air, but also eliminates harmful toxins. Extensive research by NASA has revealed 
  that houseplants can remove up to 87 per cent of air toxin in 24 hours. Studies have also proven that indoor 
  plants improve concentration and productivity (by up to 15 percent!), reduce stress levels and boost your 
  mood — making them perfect for not just your home but your work space, too.

  At work, place plants, especially those with broad leaves, on your desk; they will help 
  regulate humidity and increase levels of positivity — seeing greenery and nature help us feel 
  more relaxed and calm, which in turn benefits your every day mood. Indoor plants serve a practical
  and aesthetic purpose, and will enhance your life.</p>
  <a href="https://www.thesill.com/blogs/care-miscellaneous/why-you-need-plants-in-your-life" class="btn btn-primary btn-lg active" aria-pressed="true">More info about houseplants</a>
</div>