    <header>
      <div class="overlay">
    <h1>CareTime</h1>
    <h3>Healthy Plants</h3>
    <h5>Tips for keeping your plants healthy and happy</h5>
      <br>
    </div>
    </header>


  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1510520745063-ceaa7314a820?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></div>
      <ul class="details">
        <li class="author"><a href="#">Swiss Cheese Plant</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Live</a></li>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Swiss Cheese Plant</h1>
      <h2>Open your doors to the Swiss Cheese Plant</h2>
      <p> The Swiss cheese plant, Monstera adansonii, gets its name from its large, heart-shaped leaves, and as the plant ages, the leaves develop holes (called fenestration) that makes the leaves resemble Swiss cheese. Swiss cheese plant is a tropical perennial plant native to Central and South American that is typically grown as a houseplant. Swiss cheese plant is very easy to grow. It loves to climb, so provide a stake, moss stick, or trellis that it can clink to. A climbing Monstera adansonii produces larger leaves.</p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1590452224879-867e8012a828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)"></div>
      <ul class="details">
        <li class="author"><a href="#">Autograph Tree</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Autograph Tree</h1>
      <h2>Open your doors to the Autograph Tree</h2>
      <p>Clusia is a large genus of trees and shrubs native to tropical America characterized by their branches, which grow horizontally, and their leaves, which are thick and tough. There are about 150 Clusia species, but Clusia rosea, or the autograph tree, is the only one commonly grown. It is notable for its tendency to grow on top of other plants (often strangling them). It is widely considered to be an invasive species. Another unusual quality, this species is part of the only genus of plants capable of absorbing carbon dioxide at night.</p>
    </div>
  </div>


   <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1521503862198-2ae9a997bbc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></div>
      <ul class="details">
        <li class="author"><a href="#">Euphorbia (Spurge) Plant</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Euphorbia (Spurge) Plant</h1>
      <h2>Open your doors to the Euphorbia (Spurge) Plant</h2>
      <p>Euphorbia is a somewhat confused genus, with species and subgenera frequently added and deleted. There are annual, perennial, and biennial species within the genus, herbaceous plants and woody shrub species, and both deciduous and evergreen species. The linking characteristic is the presence of a milky white sap that in some species can be toxic. People with sensitivities to latex are most likely to react to the sap of Euphorbia plants.</p>
    </div>
  </div>

  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1463320898484-cdee8141c787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></div>
      <ul class="details">
        <li class="author"><a href="#">Crassula Plant </a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Crassula Plant </h1>
      <h2>Open your doors to the Euphorbia Crassula Plant </h2>
      <p>Succulent plants have become so popular because they offer low maintenance and diverse shapes and textures, both in the garden and indoors. Crassula is a diverse and extensive genus of succulent plants, with about 350 species. Probably the most well-known is the jade plant (Crassula ovata). Many of us know it as a houseplant, but in warm climates, it grows into a shrub.</p>
    </div>
  </div>

  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1485902409384-e367af5b5c92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></div>
      <ul class="details">
        <li class="author"><a href="#">Schefflera (Umbrella Plant)</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Schefflera (Umbrella Plant)</h1>
      <h2>Open your doors to the Schefflera (Umbrella Plant)</h2>
      <p>Schefflera species are wonderful tropical plants. The larger schefflera (sometimes called the umbrella plant) features long, shiny, oval green leaves that droop gracefully from a central stalk, resembling an umbrella. A mature schefflera might have 12 to 16 leaflets from a single stalk, while an immature schefflera is more likely to have four to six. Schefflera arboricola (sometimes called dwarf schefflera) feature smaller, glossy leaves, sometimes with creamy variegation.</p>
    </div>
  </div>

   <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1503153181849-4e4f85a341ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></div>
      <ul class="details">
        <li class="author"><a href="#">Heliotropes</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Heliotropes</h1>
      <h2>Open your doors to the Heliotropes</h2>
      <p>Heliotropium, also commonly referred to as ‘heliotrope’, is a genus of flowering plants in the Boraginaceae family containing around 325 species. They are popular flowering perennials thanks to their stunning flowers and pleasant aroma and are synonymous with the ‘old cottage’ garden style. Heliotrope flowers grow in one-sided clusters that follow the sun, which led to their name which is directly derived from the Greek words helios (meaning ‘sun) and tropos (meaning ‘to turn’). Some gardeners describe the scent of the flowers as vanilla, while others insist they smell like cherry pie! Learn how to grow these attractive perennials in your garden.</p>
    </div>
  </div>


   <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1458596376782-d1c25e7da40e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></div>
      <ul class="details">
        <li class="author"><a href="#">Wood Poppy</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Wood Poppy</h1>
      <h2>Open your doors to the Wood Poppy</h2>
      <p>Are you looking for a colorful plant to fill the shaded space under your shrubs? Or maybe some ground cover around your trees? Yellow wood poppies are a vibrant, hardy variety of poppy.</p>
    </div>
  </div>
<%= link_to "How can we help?", new_ticket_path, class: "btn btn-gradient w-300", id:"tickets_new_btn" %>

