<header>
  <div class="overlay">
<h1>CareTime</h1>
<h3>Healthy Home Plants</h3>
<p>Best place for happy healty plants</p>
  <br>
  <button>READ MORE</button>
    </div>
</header>


  <%= link_to "Options", new_ticket_path, class: "btn btn-success" %>

