<header>
  <div class="overlay">
<h1>CareTime</h1>
<h3>Healthy Home Plants</h3>
<p>Best place for happy healty plants</p>
  <br>
  <button>READ MORE</button>
    </div>
</header>


  <%= link_to "Options", new_ticket_path, class: "btn btn-success" %>



<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
      <div class="footer_center">
        <h3>Can be our footer?</h3>
      </div>
    </div>
  </div>
</div>
