
<section class="c-posts">

    <article class="c-posts__item">
        <img src="https://images.squarespace-cdn.com/content/59ab0aedf14aa1fbc5860946/1540518118659-CB9Z5B49CBHJ1VMRTF7Q/2017ywca_i-believe-you_campaign-graphics-fb-banner_29482566_ver1.0_1280_720.jpg?content-type=image%2Fjpeg">
      <h2>Domestic Violence</h2>
      <p> Domestic Violence is a pattern of Coercive tactics that can
          include physical, psychological, sexual, economic, and emotional
          abuse, perpetrated by one person against an intimate partners,
          with the goal of establishing and maintaining power and control.
          Domestic Violence occurs in all kinds of intimate relationships,
          including married couples, people who are dating, couples who
          live together, people with children in common, same-sex
          partners, people who were formerly in a relationship with the
          person abusing them, and teen dating relationships.
          Abusive behaviors are not symptoms that someone is angry or
          out of control. An abuser makes a choice to exert power and
          control over his or her partner. Abusive behaviors include
          physical, emotional, sexual, social, and financial abuse.</p>
    </article>
    <article class="c-posts__item">
      <h2>Physical Abuse</h2>
      <p>Physical abuse often begins with less violent assaults such as
          physical abuse often begins with less violent assaults such as
          pushing. As the abuse continues, however, it becomes
          increasingly violent. Abusers often target areas of the body that
          are usually covered with clothing because the injuries are less
          likely to be visible to others. Acts of physical abuse include:</p>
          <ul>
            <li>Pushing</li>
            <li>Restraining</li>
            <li>Shaking</li>
            <li>Kicking</li>
            <li>Throwing objects at the victim</li>
            <li>Target hitting</li>
            <li>Sustaied hitting</li>
            <li>Abuse planned to cause the victim to miscarry</li>
            <li>Using weapons</li>
            <li>Strangulation</li>
            <li>Homicide</li>
          </ul>
    </article>
    <article class="c-posts__item">
      <h2>Emotional Abuse</h2>
      <p>Emotional abuse is a tool used by those who want to make their
         Emotional abuse is a tool used by those who want to make their
          partners feel scared, crazy, worthless, or responsible for the
          abuse. The abuser’s goal is control over the victim. Emotional
          abuse may include:</p>
          <ul>
            <li>Making jokes about the victim</li>
            <li>Insults</li>
            <li>Criticizing the victim's competence</li>
            <li>Ignoring the victim's feelings</li>
            <li>With holding affection as a form of punishment</li>
            <li>Blaming the victim for all problems</li>
            <li>Yelling at the victim</li>
            <li>Humiliating the victim in front of others</li>
            <li>Threatening to take the children away from the victim</li>
            <li>Threatening pyhsical violance</li>
            <li>Threatening suicide to punish the victim</li>
          </ul>
    </article>
    <article class="c-posts__item">
      <h2>Sexual Abuse</h2>
      <p>Sexual abuse is one of the least discussed, but most common,
          forms of domestic violence. Sexual abuse includes:</p>
          <ul>
            <li>Sexual jokes that make the victim uncomfortable</li>
            <li>Treating women as sex objects</li>
            <li>Criticizing the victim's sexuality</li>
            <li>Using sexual jealousy as a tool of control</li>
            <li>Uncomfortable or unwanted touch</li>
            <li>Withholding sex as punishment</li>
            <li>Demanding sex</li>
            <li>Rape</li>
            <li>Sex after beatings</li>
            <li>Forcing the victim to witness or participate in sexual activity with others</li>
            <li>Sexual torture</li>
          </ul>
    </article>
     <article class="c-posts__item">
       <h2>Social Abuse</h2>
      <p>Social abuse is used to isolate the victim from others in the
        community. The fewer people the victim is connected with, the
        more control the abuser has over the victim. Examples of social
        abuse include:</p>
        <ul>
            <li>Insisting that the couple spend all time together</li>
            <li>Discouraging the victim from seeing friends or family</li>
            <li>Forbidding the victim to see friends or family</li>
            <li>Monitoring the victim’s mail or phone calls</li>
            <li>Checking the odometer</li>
            <li>Restricting access to the car or car keys</li>
            <li>Telling others the victim is crazy or abusive</li>
          </ul>
        </article>
    <article class="c-posts__item">
      <h2>Financial Abuse</h2>
      <p>busers often attempt to establish financial control over victims.
          Victims who are financially dependent on abusers have fewer
          resources for escape. Financial abuse includes: </p>
           <ul>
            <li>Making all financial decisions for the household</li>
            <li>Monitoring the victim’s spending</li>
            <li>Controlling the victim’s access to cash</li>
            <li>Controlling the victim’s access to checkbook or credit cards</li>
            <li>Refusing to let the victim work</li>
            <li>Forcing the victim to turn over income to the abuser</li>
          </ul>
    </article>
    <article class="c-posts__item">
      <h2>You Can Do Something About It!</h2>
      <p>These questions may help you determine if you or someone you know or are working with
          is being battered.
          Does someone close to you?</p>
         <ul>
            <li>Push, hit, shove, slap, kick, choke, hurt or scare you?</li>
            <li>Threaten to hurt or kill you or your family or friends?</li>
            <li>Call you names and humiliate you?</li>
            <li>Criticize the things you do and say, or the way you look?</li>
            <li>Force you to have sex against your will?</li>
            <li>Threaten to take your children?</li>
            <li>Hurt your pets or destroy things special to you?</li>
            <li>Isolate you by: taking away the car keys, money or credit cards; listening to your
                phone calls; opening your mail; locking you inside your home; or refusing to let you
                work, attend school, go to church, or form friendships?</li>
            <li> Call you or appear unexpectedly at your workplace, home, school or elsewhere to
                 check up on you?</li>
            <li>Tell you that you are crazy?</li>
            <li>If you are lesbian, bisexual or gay, threaten to “out” you or tell others of your sexual
                orientation?</li>
          </ul>
              <p>If any of these sound familiar, you may be a victim of domestic abuse.
              NOTE: Asking or answering these questions in the presence of the perpetrator or others
              may endanger you or someone else. This information must be kept confidential.</p>
              <img src="https://images.squarespace-cdn.com/content/5ee0be2588f1e349401c832c/1592222173011-31P8RQZWGO7PBSS7VUGB/StandingTogether_Logo_ONLY-01.jpg?format=1500w&content-type=image%2Fjpeg">
    </article>
</section>
  <%= link_to "Go back", new_ticket_path, class: "btn btn-success" %>
