<h1>Domestic Violence</h1>

<p>Domestic Violence is a pattern of Coercive tactics that can
include physical, psychological, sexual, economic, and emotional
abuse, perpetrated by one person against an intimate partners,
with the goal of establishing and maintaining power and control.
Domestic Violence occurs in all kinds of intimate relationships,
including married couples, people who are dating, couples who
live together, people with children in common, same-sex
partners, people who were formerly in a relationship with the
person abusing them, and teen dating relationships.
Abusive behaviors are not symptoms that someone is angry or
out of control. An abuser makes a choice to exert power and
control over his or her partner. Abusive behaviors include
physical, emotional, sexual, social, and financial abuse.</p>


<h1>Physical Abuse<h>
<p>Physical abuse often begins with less violent assaults such as
pushing. As the abuse continues, however, it becomes
increasingly violent. Abusers often target areas of the body that
are usually covered with clothing because the injuries are less
likely to be visible to others. Acts of physical abuse include:
• Pushing
• Restraining
• Shaking
• Slapping
• Biting
• Punching
• Kicking
• Throwing objects at the victim
• Target hitting
• Sustained beating
• Abuse planned to cause the victim to miscarry
• Using weapons
• Strangulation
• Homicide</p>

<h1>Emotional Abuse</h1>
<p>Emotional abuse is a tool used by those who want to make their
partners feel scared, crazy, worthless, or responsible for the
abuse. The abuser's goal is control over the victim. Emotional
abuse may include:
• Making jokes about the victim
• Insults
• Criticizing the victim's competence
• Ignoring the victim's feelings
• Withholding affection as a form of punishment
• Blaming the victim for all problems
• Yelling at the victim
• Humiliating the victim in front of others
• Accusing the victim of being the abusive partner
• Threatening to take the children away from the victim
• Threatening physical violence
• Threatening suicide to punish the victim</p>
<h1>Sexual Abuse</h1>
<p>Sexual abuse is one of the least discussed, but most common,
forms of domestic violence. Sexual abuse includes:
• Sexual jokes that make the victim uncomfortable
• Treating women as sex objects
• Criticizing the victim's sexuality
• Using sexual jealousy as a tool of control
• Uncomfortable or unwanted touch
• Withholding sex as punishment
• Demanding sex
• Flaunting affairs
• Rape
• Sex after beatings
• Forcing the victim to witness or participate in sexual
activity with others
• Sexually assaulting the victim in front of the children
• Sexual torture</p>
<h1>Social Abuse</h1>
<p>Social abuse is used to isolate the victim from others in the
community. The fewer people the victim is connected with, the
more control the abuser has over the victim. Examples of social
abuse include:
• Insisting that the couple spend all time together
• Discouraging the victim from seeing friends or family
• Forbidding the victim to see friends or family
• Monitoring the victim's mail or phone calls
• Checking the odometer
• Restricting access to the car or car keys
• Telling others the victim is crazy or abusive</p>
<h2>Financial Abuse</h2>
<p>Abusers often attempt to establish financial control over victims.
Victims who are financially dependent on abusers have fewer
resources for escape. Financial abuse includes:
• Making all financial decisions for the household
• Keeping financial secrets
• Monitoring the victim's spending
• Controlling the victim's access to cash
• Controlling the victim's access to checkbook or credit cards
• Refusing to let the victim work
• Forcing the victim to turn over income to the abuser</p>
<h1>Domestic Violence</h1>
<p>• Occurs in all socio-economic groups, all religious groups, all races, all ethnic groups
and within heterosexual, lesbian and gay relationships, to people of all ages and
physical abilities.
• Is perpetrated against women in 95% of cases.
• Is the single greatest cause of injury to women in this country.
• Generates at least 18,000 calls to 911 in Multnomah County every year.
• Includes psychological, verbal or emotional abuse that can be as devastating as the
physical violence.
• Something that has happened to people you know; perhaps your neighbor, friend,
sister, mother, your co-worker or even yourself. </p>
<h1>YOU CAN DO SOMETHING ABOUT IT!</h1>
<p>These questions may help you determine if you or someone you know or are working with
is being battered.
Does someone close to you?
• Push, hit, shove, slap, kick, choke, hurt or scare you?
• Threaten to hurt or kill you or your family or friends?
• Call you names and humiliate you?
• Criticize the things you do and say, or the way you look?
• Force you to have sex against your will?
• Threaten to take your children?
• Hurt your pets or destroy things special to you?
• Isolate you by: taking away the car keys, money or credit cards; listening to your
phone calls; opening your mail; locking you inside your home; or refusing to let you
work, attend school, go to church, or form friendships?
• Call you or appear unexpectedly at your workplace, home, school or elsewhere to
check up on you?
• Tell you that you are crazy?
• If you are lesbian, bisexual or gay, threaten to "out" you or tell others of your sexual
orientation?
If any of these sound familiar, you may be a victim of domestic abuse.
NOTE: Asking or answering these questions in the presence of the perpetrator or others
may endanger you or someone else. This information must be kept confidential. </p>
