<h1>Tickets</h1>
<div>
  <ol>
    <%= @tickets.each do |ticket| %>
      <li><%= tickets[0].issue_type %></li>
      <li><%= tickets[0].status %></li>
      <li><%= tickets[0].comment %></li>
    <% end  %>
  </ol>
</div>
