<h1 id='heading_contact' style='font-size: 30px; margin-bottom:20px;'>Please, add contacts information of your trusted person</h1>

<div id='new_contact_form'>
  <%= simple_form_for [@user, @contact] do |f|%>
    <%= f.input :full_name %>
    <%= f.input :phone_number %>
    <%= f.submit %>
  <% end %>
</div>
