<h1 id='heading_contact'>Secondary Contact  Info</h1>

<div style='margin-left:70px'>
  <table class='table_whole' style='border:2px solid #D3D3D3'>
    <tbody>
      <tr>
        <th>Full Name</th>
        <th>Phone Number</th>
      </tr>
      <tr>
        <td><%= @contact.full_name %></td>
        <td><%= @contact.phone_number %></td>
      </tr>
    </tbody>
  </table>
</div>
<div style='margin-top: 40px; '>
  <button type="button" class="btn btn-link" style="margin-left:140px;" id='go_to_btn'><%= link_to 'Edit contact', edit_contact_path, id:"go_to_btn" %></button>
</div>
