<h1>Contact  Info</h1>
<table>
  <tbody>
    <tr>
      <th style='padding-right:40px;'>Full Name</th>
      <th style='padding-right:40px;'>Phone Number</th>
    </tr>
    <tr>
      <td style='padding-right:40px;'><%= @contact.full_name %></td>
      <td style='padding-right:40px;'><%= @contact.phone_number %></td>
    </tr>
  </tbody>
</table>
