<h1 style='text-shadow:2px 2px 2px #76b993; text-align: center; color:white;'>Secondary Contact  Info</h1>
<table class='table_whole' style='border:2px solid #D3D3D3'>
  <tbody>
    <tr>
      <th style='padding-right:40px;'>Full Name</th>
      <th style='padding-right:40px;'>Phone Number</th>
    </tr>
    <tr>
      <td style='padding-right:40px;'><%= @contact.full_name %></td>
      <td style='padding-right:40px;'><%= @contact.phone_number %></td>
    </tr>
  </tbody>
</table>
