button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
}


// after here its cards part

.btn-success {
  color: #fbfdff;
  background-color: #aaefd0;
  border-color: #aaefd0;
}

#back_to {
  margin-top:30px;
  margin-left:140px;
  background-color: #aaefd0;
  border:1px solid #aaefd0;
  color:#FFFAF0;
}

#go_to_btn {
  border:1px solid #aaefd0;
  border-radius:25%;
  margin-right:10px;
  background-color: #aaefd0;
  color:#FFFAF0;
  width:120px;
  font-weight: bold;
  text-align: center;
}

#chatroom_btn {
  margin-top:15px;
  margin-left:60px;
  background-color: #aaefd0;
  border:1px solid #aaefd0;
  color:#FFFAF0;
}

#tickets_new_btn {
  background-color: #aaefd0;
  border:1px solid #aaefd0;
  border-radius: 25%;
  color:#FFFAF0;
  width:350px;
  word-wrap: none;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: linear-gradient(#678367, #1e3e2f);
  transition: background 0.3s ease;
  border: 1px solid #678367;
}

.btn-gradient:hover {
  background: linear-gradient(#678367, #1e3e2f);
  color: white;
}

.js-hidebtn {
  // right: -200px;
  // bottom: -5vh;
  font-size: 40px;
  // position: absolute;
}