$app_color:#1e3e2f;

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #E6DED3;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
}


// after here its cards part

.btn-success {
  color: #E6DED3;
  background-color: $app_color;
  border-color: $app_color;
}

#back_to {
  margin-top:30px;
  margin-left:140px;
  background-color: $app_color;
  border:1px solid $app_color;
  color:#E6DED3;
}

#go_to_btn {
  border:1px solid $app_color;
  border-radius:25%;
  margin-right:10px;
  background-color: $app_color;
  color:#E6DED3;
  width:120px;
  font-weight: bold;
  text-align: center;
}

#chatroom_btn {
  margin-top:15px;
  margin-left:60px;
  background-color: $app_color;
  border:1px solid $app_color;
  color:#E6DED3;
}

#tickets_new_btn {
  background-color: $app_color;
  border:1px solid $app_color;
  color:#E6DED3;
  padding:0px;
  width:415px;
  height:45px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: linear-gradient(#678367, #1e3e2f);
  transition: background 0.3s ease;
  border: 1px solid #678367;
}

.btn-gradient:hover {
  background: linear-gradient(#678367, #1e3e2f);
  color: white;
}

.js-hidebtn {
  // right: -200px;
  // bottom: -5vh;
  font-size: 45px;
  // position: absolute;
}


  // margin-right: 10px;
  // color: #1e3e2f;


a {
  text-decoration: none;
}
a:link, a:visited {
  color:  #1e3e2f;
}

.mb-hidebtn {
  margin-bottom: 100px;
}

#send_btn {
  border:1px solid $app_color;
  border-radius:25%;
  margin-right:10px;
  margin-left:130px;
  background-color: $app_color;
  color:#E6DED3;
  width:100px;
  font-weight: bold;
  text-align: center;
}

