#heading_contact {
  text-shadow:2px 2px 2px #1e3e2f;
  text-align: center;
  color:#E6DED3;
  padding-top:30px;
  padding-bottom: 5px;
  font-size:45px;
}

#heading_other {
  text-shadow:2px 2px 2px #1e3e2f;
  text-align: center;
  color:#E6DED3;
  padding-top:20px;
  padding-bottom: 5px;
  font-size:25px;
}
