.swal-text {
    color: #c7ad88;
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    //color: rgb(0 0 0 / 64%);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-b
}

.swal-button--danger {
    background-color: #1e3e2f;
}

.swal-button--danger:not([disabled]):hover {
    background-color: #1e3e2f;
    color: white;
}

.swal-button {
    color:#c7ad88;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
  }

.swal-button--danger:hover {
  color: white;
}
.swal-button--cancel:not([disabled]):hover {
    background-color: #ffffff;
}

