$app_color:#1e3e2f;

.table_whole {
  margin-left:4px;
  margin-top:30px;
  margin-bottom:30px;
  margin-right:4px;
  th {
    font-family:'Arial Black' ;
    font-size:13px;
    padding-top:12px;
    padding-bottom:12px;
    color:  white;
    text-shadow:2px 2px 2px $app_color;
    text-align:center;
    border:2px solid $app_color;
    width:80px;
    height:40px;
    background-color: $app_color;
  }

  td {
    font-family:'Arial' ;
    font-size:13px;
    padding-left:12px;
    padding-right:12px;
    color: #484848;
    text-align:center;
    border:2px solid $app_color;
    width:120px;
    height:40px;
  }
}

.victim_info {
  margin-left:0px;
  th {
    width:200px;
  }
}

