.table_whole {
  margin-left:8px;
  margin-top:30px;
  margin-bottom:30px;
  th {
    font-family:'Arial Black' ;
    font-size:13px;
    padding-top:12px;
    padding-bottom:12px;
    color:  #484848;
    text-align:center;
    border:2px solid #76b993;
    width:80px;
    height:40px;
    background-color: #76b993;
  }

  td {
    font-family:'Arial' ;
    font-size:13px;
    padding-left:12px;
    padding-right:12px;
    color: #484848;
    text-align:center;
    border:2px solid #76b993;
    width:120px;
    height:40px;
  }
}

.victim_info {
  margin-left:0px;
}

