.table_whole {
  margin-left:40px;
  th {
    font-family:'Arial Black' ;
    font-size:'20px';
    padding:8px;
    color:  gray;
    text-align: center;
    border:2px solid #D3D3D3;
  }

  td {
    font-family:'Arial Black' ;
    font-size:'16px';
    padding:8px;
    color: #c0c0c0;
    text-align: center;
    border:2px solid #D3D3D3;
  }
}
